#files {
  background: var(--inactive);
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 0px;
  border: 1px solid gray;
}
#main {
  position: absolute;
  left: 0px;
  top: 52px;
  bottom: 0px;
  right: 50px;
  background: var(--background);
}
#controls {
  right: 0px;
  top: 52px;
  bottom: 0px;
  width: 50px;
  background: var(--inactive);
  border-left: 1px solid gray;
  position: absolute;
}
