#files {
    background: var(--inactive);
    width: calc(100% - 50px);
    height: 50px;
    position: absolute;
    left: 0px;
    top: 0px;
}
#main {
    position: absolute;
    left: 0px;
    top: 50px;
    bottom: 0px;
    right: 50px;
    background: var(--background);
}
#controls {
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 50px;
  background: var(--text);
}