:root {
  --filewidth: 100px;
}
#files {
  background: var(--inactive);
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 0px;
  border: 1px solid gray;
}
#main {
  position: absolute;
  left: 0px;
  top: 52px;
  bottom: 0px;
  right: 50px;
  background: var(--background);
}
#controls {
  right: 0px;
  top: 52px;
  bottom: 0px;
  width: 50px;
  background: var(--inactive);
  border-left: 1px solid gray;
  position: absolute;
}
.file {
  width: var(--filewidth);
  height: 100%;
  display: inline-bl;
  background: var(--inactive);
  border: 1px solid gray;
  margin: 0px;
  padding: 0px;
  border-radius: 10px;
  margin-top: -1px;
  margin-right: -5px;
  cursor: pointer;
}
.file input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: var(--filewidth);
  height: 100%;
  position: absolute;
}
.file:has(input:checked){
  background: var(--background);
}