:root {
  --background: rgb(200, 200, 200);
  --pannel: rgb(175, 175, 175);
  --tabs: rgb(150, 150, 150);
  --text: rgb(25, 25, 25);
  --hovered-pannel: rgb(200, 200, 200);
  --hovered-tabs: rgb(175, 175, 175);
  --active-tabs: rgb(175, 175, 175);
}
#top-bar {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 50px;
  background: rgb(0, 0, 0);
}
