:root {
  --background: rgb(200, 200, 200);
  --pannel: rgb(175, 175, 175);
  --tabs: rgb(150, 150, 150);
  --text: rgb(25, 25, 25);
  --active-pannel: rgb(200, 200, 200);
  --active-tabs: rgb(175, 175, 175);
}