:root {
  --background: rgb(200, 200, 200);
  --hovered-background: rgb(225, 225, 225);
  --pannel: rgb(175, 175, 175);
  --tabs: rgb(150, 150, 150);
  --text: rgb(25, 25, 25);
  --hovered-pannel: rgb(200, 200, 200);
  --hovered-tabs: rgb(175, 175, 175);
  --active-tabs: linear-gradient(var(--hovered-tabs), var(--background));
  --slider: rgb(0, 0, 255);
  --shadows: rgb(100, 100, 100);
  --borders: gray;
  --right-width: 280px;
}
.select {
  width: calc(50% - 14px);
  height: 50px;
  background: lightgray;
  text-align: center;
  align-content: center;
  line-height: 50px;
  cursor: pointer;
  position: relative;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  float: right;
  background: var(--background);
  border: 2px solid lightgray;
  border-left: none;
  border-top: 2px solid black;
  transition: 0.25s;
}
.select:hover {
  background: var(--hovered-background);
}
.select div {
  opacity: 0%;
  position: absolute;
  width: 100%;
  height: 50px;
  pointer-events: none;
  background: var(--hovered-background);
  border-radius: 50px;
}
.select:focus {
  background: var(--hovered-background);
}
.select div:hover {
  background: var(--background);
}
.select:has(div:focus) div{
  opacity: 0%;
  position: absolute;
}
.select:has(div:active) div{
  opacity: 100%;
  position: relative;
}
.select div:active {
  pointer-events: all;
}
.select:focus div {
  opacity: 100%;
  position: relative;
  transition: 0.25s;
  margin-top: 0px;
  pointer-events: all;
}
.select div:has(input:checked){
  background: var(--tabs);
}
.select::after {
  content: "";
  border-top: 10px solid black;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 22px;
  transition: 0.25s;
}
.select:focus::after {
  scale: -1;
}

#top-bar {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 50px;
  background: var(--pannel);
  font-size: 30px;
  text-align: center;
  display: flex;
  text-align: center;
  align-items: center;
}
#top-bar a {
  text-decoration: none;
  color: var(--text);
  margin: auto;
  text-align: center;
}
.tab {
  margin: 0px;
  position: absolute;
  cursor: pointer;
  background: var(--tabs);
  transition: 0.5s;
  width: var(--tab-width);
  text-align: center;
  box-shadow: inset 0 0 10px var(--shadows);
}
.tab input {
  appearance: none;
  position: absolute;
  margin: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 50px;
  background: transparent;
  left: 0px;
  top: 0px;
  cursor: pointer;
  border: none;
}
#tabs {
  position: absolute;
  width: 100%;
  height: 50px;
  background: var(--tabs);
  left: 0px;
  top: 50px;
}
.tab-selected {
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: var(--active-tabs);
  height: 51px;
  opacity: 0%;
  transition: 0.5s;
  width: 100%;
}
.tab:has(input:checked) div {
  opacity: 100%;
}
.tab:hover {
  background: var(--hovered-tabs);
}
.tab p {
  position: relative;
  width: 100%;
  background: transparent;
}
#slider {
  position: absolute;
  left: 0px;
  top: 50px;
  width: var(--tab-width);
  height: 5px;
  background: var(--slider);
  transition: 0.5s;
}
body {
  background: var(--background);
  overflow: hidden;
}
#main {
  position: absolute;
  left: 0px;
  top: 100px;
  width: 100%;
  height: calc(100% - 100px);
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  transition: 0.25s;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
#main div {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
}
#main::-webkit-scrollbar {
  display: none;
}
.right {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--borders);
  background: var(--pannel);
  transition: 0.5s;
  cursor: pointer;
}
.right:hover {
  background: var(--hovered-pannel);
}
#right-bar {
  width: var(--right-width);
  padding: 10px;
  height: 100%;
  background: var(--pannel);
  position: absolute;
  right: calc(-20px - var(--right-width));
  top: 0px;
  transition: 0.25s;
  text-align: center;
}
#right-bar input {
  width: calc(100% - 10px);
  height: 50px;
  margin: 0px;
  background: var(--background);
  color: var(--text);
  text-align: center;
  border-radius: 50px;
  font-size: 30px;
  font-family: serif;
  display: inline;
  border: 2px solid black;
  border-bottom: 2px solid lightgray;
  border-right: 2px solid lightgray;
}
#right-bar input[type="number"] {
  border-radius: 0px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  text-align: right;
  width: 50%;
  height: 50px;
  position: absolute;
  left: 10px;
  padding: 0px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: block;
  width: 16px;
  height: 50px;
  background: url('https://cdn.glitch.global/04691576-823b-4f15-ae12-ec92ea17160f/Drawing.sketchpad-3.png?v=1743143344222') no-repeat center center;
  background-size: contain;
  border: none;
  cursor: pointer;
  margin: 2px;
  transition: 0.5s;
  opacity: 0%;
  position: absolute;
  left: 10px;
  top: calc(50% - 25px);
}
input[type="number"]:hover::-webkit-outer-spin-button,
input[type="number"]:hover::-webkit-inner-spin-button {
  opacity: 100%;
}
.select div input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  position: absolute;
  margin: 0px;
  cursor: pointer;
  background: transparent;
  opacity: 0%;
}